html, body {
font-family: Roboto Condensed;
color:white;
font-weight: bold;
text-align: center;
}
h1 {
font-family: Roboto Condensed;
font-size:25px;
text-align:center;
color:white;
font-weight: bold;
margin-top: 5px;
margin-bottom: 5px;
}
.btn {
font-family: Roboto Condensed;
width: auto;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 4px 4px 4px;
border:none;
cursor: pointer;
background:transparent;
color:#fff;
box-shadow:0 10px 0 #4D0094;
border-radius: 10px;
transition: transform .2s;
font-weight: bold;
}
.btn:hover {
background:transparent;
box-shadow:0 10px 0 #6C0000;
color: #f00;
border-radius: 10px;
transition: transform .2s;
transform: scale(1.3);
font-weight: bold;
}

.btn-main {
background:transparent;
box-shadow:0 10px 0 #6C0000;
color: white;
border-radius: 10px;
font-weight: bold;
}
.btn-main:hover {
background:transparent;
box-shadow:0 10px 0 #4D0094;
color: #f00;
border-radius: 10px;
transition: transform .2s;
transform: scale(1.3);
font-weight: bold;
}
.icon {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 13%;
    right: 1%;
} 
.msgs{
font-family: Roboto Condensed;
font-size:45px;
text-align:center;
color:#fff;
font-weight: bold;
margin-top: 5px;
margin-bottom: 5px;

}
.icone{
    width: 60px;
    height: 60px;
}
.temp{
	font-size:20px;
	height:35px;
	width:auto;
	background-color:#4D0094;
	color:#fff;
	border:3px solid #6C0000;
}