button{
          background:rgba(0,0,0,0.3);
          width:9.5%;
          height:145px;
		  
} 
button:hover {
          background-color:#030CA9;
          cursor: pointer;
          border-radius: 10px;
}
button img{
          width:100%;
		 
}
.button2 {
  background-color: transparent;
  height:inherit;
  width: inherit;
} 
.button2:hover {
  background-color:red;
          cursor: pointer;
          border-radius: 0px;
}
		.bg {
		  background-image: url("bg1.png");
		  font-family: system-ui;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: transparent;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 10;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: transparent;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 10;
  background-color: transparent;
  width: 90%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: transparent;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}